<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="library.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="library.Perspective"
            id="library.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Book List"
            class="library.View"
            id="library.view">
      </view>
      <view
            class="library.view.DetailsBook"
            id="library.view.detalsbook"
            name="Details Book"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="library.perspective">
         <view
               closeable="false"
               id="library.view"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="library.view.detalsbook"
               minimized="false"
               relationship="right"
               relative="library.view"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Library">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:library.view">
         <command
               commandId="editBook"
               label="Edit"
               style="push">
         </command>
         <command
               commandId="deleteBook"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="library.handlers.EditBook"
            commandId="editBook">
      </handler>
      <handler
            class="library.handlers.DeleteBook"
            commandId="deleteBook">
      </handler>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="library.application"
            name="Library">
         <property
               name="appName"
               value="Library">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         id="productID"
         point="org.eclipse.core.runtime.products">
      <product
            application="library.application"
            name="Library">
         <property
               name="appName"
               value="Library">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="library.splashHandlers.ExtensibleSplashHandler"
            id="library.splashHandlers.extensible">
      </splashHandler>
      <splashHandlerProductBinding
            productId="library.productID"
            splashId="library.splashHandlers.extensible">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="library.splashExtension">
      <splashExtension
            icon="icons/af.png"
            id="af"
            tooltip="Application Framework">
      </splashExtension>
      <splashExtension
            icon="icons/embedded.png"
            id="embedded"
            tooltip="Embedded">
      </splashExtension>
      <splashExtension
            icon="icons/enterprise.png"
            id="enterprise"
            tooltip="Enterprise">
      </splashExtension>
      <splashExtension
            icon="icons/languages.png"
            id="languages"
            tooltip="Languages">
      </splashExtension>
      <splashExtension
            icon="icons/rcp.png"
            id="rcp"
            tooltip="RCP">
      </splashExtension>
   </extension>

</plugin>
